@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Your privacy is valued whenever you rate a car. However, we are collecting your personal information as you are using the site.</p>
